
.font
{
   font-family  : Modern;
   color        :#66b3ff;
   margin-bottom:0.7em; 
   padding-left :1em; 
}
.form-control {
    height: 30px !important;
    padding: 3px 8px !important;
    border-radius: 0 !important
}
.btn {
    padding: 4px 8px;
	border-radius: 0; 
}
.error{
	border:2px solid red;
}
.panel-heading {
    padding: 1px 8px !important;
    border-bottom: 1px solid transparent !important;
     border-top-left-radius: 0px !important; 
     border-top-right-radius: 0px !important; 
}
.panel-body {
    padding: 8px;
}